<h2 id="example">Example <a class="anchor" href="#example">#</a></h2>
<p>
  Cards are built with as little markup and styles as possible, but still manage
  to deliver a ton of control and customization.
</p>
<div class="bd-example">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </code></pre>
</div>

<h2 id="body">Body <a class="anchor" href="#body">#</a></h2>
<p>
  The building block of a card is the <code>.card-body</code>. Use it whenever you
  need a padded section within a card.
</p>
<div class="bd-example">
  <div class="card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
  </code></pre>
</div>

<h2 id="titles-text-and-links">Titles, text, and links <a class="anchor" href="#titles-text-and-links">#</a></h2>
<p>
  Card titles are used by adding <code>.card-title</code> to a
  <code>&lt;h*&gt;</code> tag. In the same way, links are added and placed next to
  each other by adding <code>.card-link</code> to an <code>&lt;a&gt;</code> tag.
</p>
<div class="bd-example">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </code></pre>
</div>

<h2 id="images">Images <a class="anchor" href="#images">#</a></h2>
<div class="bd-example">
  <div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </code></pre>
</div>

<h2 id="list-groups">List groups <a class="anchor" href="#list-groups">#</a></h2>
<div class="bd-example">
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
  </code></pre>
</div>

<h2 id="header-and-footer">Header and footer <a class="anchor" href="#header-and-footer">#</a></h2>
<p>
  Add an optional header and/or footer within a card.
</p>
<div class="bd-example">
  <div class="card">
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card">
  <div class="card-header">Featured</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </code></pre>
</div>
<div class="bd-example">
  <div class="card">
    <div class="card-header">Quote</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card">
  <div class="card-header">Quote</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
  </code></pre>
</div>

<h2 id="sizing">Sizing <a class="anchor" href="#sizing">#</a></h2>
<p>
  Cards assume no specific <code>width</code> to start, so they’ll be 100% wide
  unless otherwise stated. You can change this as needed with custom CSS, grid
  classes, grid Sass mixins, or utilities.
</p>
<div class="bd-example">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">…</div>
  </div>
  <div class="col-sm-6">
    <div class="card">…</div>
  </div>
</div>
  </code></pre>
</div>

<h2 id="text-alignment">Text alignment <a class="anchor" href="#text-alignment">#</a></h2>
<p>
  You can quickly change the text alignment of any card—in its whole or specific
  parts—with our text align classes.
</p>
<div class="bd-example">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card text-center mb-3">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card text-end">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card text-center">…</div>
<div class="card text-end">…</div>
  </code></pre>
</div>

<h2 id="image-overlays">Image overlays <a class="anchor" href="#image-overlays">#</a></h2>
<p>
  Turn an image into a card background and overlay your card’s text. Depending on
  the image, you may or may not need additional styles or utilities.
</p>
<div class="bd-example">
  <div class="card text-bg-dark">
    <svg class="bd-placeholder-img card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card text-bg-dark">
  <img src="..." class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
  </code></pre>
</div>

<h2 id="horizontal">Horizontal <a class="anchor" href="#horizontal">#</a></h2>
<p>
  Using a combination of grid and utility classes, cards can be made horizontal
  in a mobile-friendly and responsive way.
</p>
<div class="bd-example">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <svg class="bd-placeholder-img rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </code></pre>
</div>

<h2 id="card-styles">Card styles <a class="anchor" href="#card-styles">#</a></h2>
<h3 id="background-and-color">Background and color <a class="anchor" href="#background-and-color">#</a></h3>
<p>
  Use <a href="helpers-color-background" class="text-decoration-none">text and background utilities</a>
  to change the appearance of a card.
</p>
<div class="bd-example">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <div class="card text-bg-primary mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="card text-bg-success mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="card text-bg-danger mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title.</p>
  </div>
</div>
  </code></pre>
</div>

<h3 id="border">Border <a class="anchor" href="#border">#</a></h3>
<p>
  Use <a href="utilities-borders" class="text-decoration-none">border utilities</a> to change
  just the <code>border-color</code> of a card.
</p>
<div class="bd-example">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title.</p>
  </div>
</div>
  </code></pre>
</div>
