<h2 id="example">Example <a class="anchor" href="#example">#</a></h2>
<p>
  Click the buttons below to show and hide another element via class changes:
</p>
<ul>
  <li><code>.collapse</code> hides content</li>
  <li><code>.collapsing</code> is applied during transitions</li>
  <li><code>.collapse.show</code> shows content</li>
</ul>
<p>
  You can use a link with the <code>href</code> attribute, or a button with the
  <code>data-bs-target</code> attribute. In both cases, the
  <code>data-bs-toggle="collapse"</code> is required.
</p>
<div class="bd-example">
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component.
  </div>
</div>
  </code></pre>
</div>

<h2 id="horizontal">Horizontal <a class="anchor" href="#horizontal">#</a></h2>
<p>
  The collapse plugin also supports horizontal collapsing. Add the
  <code>.collapse-horizontal</code> modifier class to transition the
  <code>width</code> instead of <code>height</code> and set a
  <code>width</code> on the immediate child element.
</p>
<div class="bd-example">
  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Toggle width collapse
    </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Toggle width collapse
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      This is some placeholder content for a horizontal collapse.
    </div>
  </div>
</div>
  </code></pre>
</div>

<h2 id="multiple-targets">Multiple targets <a class="anchor" href="#multiple-targets">#</a></h2>
<p>
  A <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide multiple
  elements by referencing them with a selector in its <code>href</code> or
  <code>data-bs-target</code> attribute. Multiple
  <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and hide an
  element if they each reference it with their <code>href</code> or
  <code>data-bs-target</code> attribute.
</p>
<div class="bd-example">
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          Some placeholder content for the first collapse component of this multi-collapse example.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Some placeholder content for the second collapse component of this multi-collapse example.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Some placeholder content for the first collapse component.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Some placeholder content for the second collapse component.
      </div>
    </div>
  </div>
</div>
  </code></pre>
</div>
