<h2 id="basic-example">Basic example <a class="anchor" href="#basic-example">#</a></h2>
<p>
  The most basic list group is an unordered list with list items and the proper
  classes. Build upon it with the options that follow, or with your own CSS as
  needed.
</p>
<div class="bd-example">
  <ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
  </code></pre>
</div>

<h2 id="active-items">Active items <a class="anchor" href="#active-items">#</a></h2>
<p>
  Add <code>.active</code> to a <code>.list-group-item</code> to indicate the
  current active selection.
</p>
<div class="bd-example">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>
  </code></pre>
</div>

<h2 id="disabled-items">Disabled items <a class="anchor" href="#disabled-items">#</a></h2>
<p>
  Add <code>.disabled</code> to a <code>.list-group-item</code> to make it
  <em>appear</em> disabled.
</p>
<div class="bd-example">
  <ul class="list-group">
    <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group">
  <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>
  </code></pre>
</div>

<h2 id="links-and-buttons">Links and buttons <a class="anchor" href="#links-and-buttons">#</a></h2>
<p>
  Use <code>&lt;a&gt;</code>s or <code>&lt;button&gt;</code>s to create
  <em>actionable</em> list group items with hover, disabled, and active states by
  adding <code>.list-group-item-action</code>.
</p>
<div class="bd-example">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      The current link item
    </a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
</div>
  </code></pre>
</div>

<h2 id="flush">Flush <a class="anchor" href="#flush">#</a></h2>
<p>
  Add <code>.list-group-flush</code> to remove some borders and rounded corners to
  render list group items edge-to-edge in a parent container (e.g., cards).
</p>
<div class="bd-example">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>
  </code></pre>
</div>

<h2 id="numbered">Numbered <a class="anchor" href="#numbered">#</a></h2>
<p>
  Add the <code>.list-group-numbered</code> modifier class (and optionally use an
  <code>&lt;ol&gt;</code> element) to show numbered list items.
</p>
<div class="bd-example">
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">A list item</li>
    <li class="list-group-item">A list item</li>
    <li class="list-group-item">A list item</li>
  </ol>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ol class="list-group list-group-numbered">
  <li class="list-group-item">A list item</li>
  <li class="list-group-item">A list item</li>
  <li class="list-group-item">A list item</li>
</ol>
  </code></pre>
</div>
<div class="bd-example">
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge text-bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge text-bg-primary rounded-pill">14</span>
    </li>
  </ol>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
      Content for list item
    </div>
    <span class="badge text-bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">…</li>
</ol>
  </code></pre>
</div>

<h2 id="horizontal">Horizontal <a class="anchor" href="#horizontal">#</a></h2>
<p>
  Add <code>.list-group-horizontal</code> to change the layout of list group items
  from vertical to horizontal across all breakpoints. Alternatively, choose a
  responsive variant <code>.list-group-horizontal-{sm|md|lg|xl|xxl}</code>.
</p>
<div class="bd-example">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
</ul>
  </code></pre>
</div>

<h2 id="contextual-classes">Contextual classes <a class="anchor" href="#contextual-classes">#</a></h2>
<p>
  Use contextual classes to style list items with a stateful background and color.
</p>
<div class="bd-example">
  <ul class="list-group">
    <li class="list-group-item">A simple default list group item</li>
    <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
    <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
    <li class="list-group-item list-group-item-success">A simple success list group item</li>
    <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
    <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
    <li class="list-group-item list-group-item-info">A simple info list group item</li>
    <li class="list-group-item list-group-item-light">A simple light list group item</li>
    <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
  <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
  <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
  <li class="list-group-item list-group-item-success">A simple success list group item</li>
  <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
  <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
  <li class="list-group-item list-group-item-info">A simple info list group item</li>
  <li class="list-group-item list-group-item-light">A simple light list group item</li>
  <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
</ul>
  </code></pre>
</div>

<h2 id="custom-content">Custom content <a class="anchor" href="#custom-content">#</a></h2>
<p>
  Add nearly any HTML within, even for linked list groups like the one below, with
  the help of flexbox utilities.
</p>
<div class="bd-example">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-body-secondary">And some muted small print.</small>
    </a>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-body-secondary">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-body-secondary">And some muted small print.</small>
  </a>
</div>
  </code></pre>
</div>
