<h2 id="base-nav">Base nav <a class="anchor" href="#base-nav">#</a></h2>
<p>
  Navigation available in Bootstrap share general markup and styles, from the
  base <code>.nav</code> class to the active and disabled states. Swap modifier
  classes to switch between each style.
</p>
<div class="bd-example">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
  </code></pre>
</div>
<p>
  Classes are used throughout, so your markup can be super flexible. Use
  <code>&lt;ul&gt;</code>s like above, <code>&lt;ol&gt;</code> if the order of your items
  is important, or roll your own with a <code>&lt;nav&gt;</code> element.
</p>

<h2 id="available-styles">Available styles <a class="anchor" href="#available-styles">#</a></h2>
<h3 id="horizontal-alignment">Horizontal alignment <a class="anchor" href="#horizontal-alignment">#</a></h3>
<p>
  Change the horizontal alignment of your nav with flexbox utilities. By default,
  navs are left-aligned, but you can easily change them to center or right aligned.
</p>
<div class="bd-example">
  <ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav justify-content-center">
  <li class="nav-item">…</li>
</ul>
<ul class="nav justify-content-end">
  <li class="nav-item">…</li>
</ul>
  </code></pre>
</div>

<h3 id="vertical">Vertical <a class="anchor" href="#vertical">#</a></h3>
<p>
  Stack your navigation by changing the flex item direction with the
  <code>.flex-column</code> utility.
</p>
<div class="bd-example">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
</ul>
  </code></pre>
</div>

<h3 id="tabs">Tabs <a class="anchor" href="#tabs">#</a></h3>
<p>
  Takes the basic nav from above and adds the <code>.nav-tabs</code> class to
  generate a tabbed interface.
</p>
<div class="bd-example">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
</ul>
  </code></pre>
</div>

<h3 id="pills">Pills <a class="anchor" href="#pills">#</a></h3>
<p>
  Take that same HTML, but use <code>.nav-pills</code> instead.
</p>
<div class="bd-example">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
</ul>
  </code></pre>
</div>

<h3 id="fill-and-justify">Fill and justify <a class="anchor" href="#fill-and-justify">#</a></h3>
<p>
  Force your <code>.nav</code>’s contents to extend the full available width one of
  two modifier classes. To proportionately fill all available space with your
  <code>.nav-item</code>s, use <code>.nav-fill</code>. Notice that all horizontal
  space is occupied, but not every nav item has the same width.
</p>
<div class="bd-example">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Much longer nav link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Much longer nav link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
</ul>
  </code></pre>
</div>
<p>
  For equal-width elements, use <code>.nav-justified</code>. All horizontal space
  will be occupied by nav links, but unlike the <code>.nav-fill</code> above, every
  nav item will be the same width.
</p>
<div class="bd-example">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Much longer nav link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Much longer nav link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
</ul>
  </code></pre>
</div>

<h2 id="tabs-with-data-bs">Tabs with the <code>data-bs-toggle</code> plugin <a class="anchor" href="#tabs-with-data-bs">#</a></h2>
<p>
  To make tabs toggleable, add the <code>data-bs-toggle="tab"</code> attribute to each link.
  The <code>.tab-content</code> and <code>.tab-pane</code> classes structure the panels.
</p>
<div class="bd-example">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
    </li>
  </ul>
  <div class="tab-content pt-2" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <p>This is some placeholder content the <strong>Home tab's</strong> associated content.</p>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <p>This is some placeholder content the <strong>Profile tab's</strong> associated content.</p>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
  </li>
</ul>
<div class="tab-content pt-2" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <p>This is some placeholder content the <strong>Home tab's</strong> associated content.</p>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <p>This is some placeholder content the <strong>Profile tab's</strong> associated content.</p>
  </div>
</div>
  </code></pre>
</div>

<h2 id="underline">Underline <a class="anchor" href="#underline">#</a></h2>
<p>
  Take that same HTML, but use <code>.nav-underline</code> instead of
  <code>.nav-tabs</code>.
</p>
<div class="bd-example">
  <ul class="nav nav-underline">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
  </ul>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<ul class="nav nav-underline">
  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
</ul>
  </code></pre>
</div>
