<h2 id="horizontal-gutters">Horizontal &amp; vertical gutters <a class="anchor" href="#horizontal-gutters">#</a></h2>
<p>
  Use <code>.gx-*</code> classes to control horizontal gutter widths, and
  <code>.gy-*</code> for vertical gutters. The <code>.g-*</code> shorthand sets both.
</p>
<div class="bd-example">
  <div class="container text-center">
    <div class="row gx-4 gy-2">
      <div class="col-6"><div class="p-3 border rounded bg-light">Custom column padding</div></div>
      <div class="col-6"><div class="p-3 border rounded bg-light">Custom column padding</div></div>
      <div class="col-6"><div class="p-3 border rounded bg-light">Custom column padding</div></div>
      <div class="col-6"><div class="p-3 border rounded bg-light">Custom column padding</div></div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="row gx-4 gy-2">
  <div class="col-6">Custom column padding</div>
  <div class="col-6">Custom column padding</div>
  <div class="col-6">Custom column padding</div>
  <div class="col-6">Custom column padding</div>
</div>
  </code></pre>
</div>

<h2 id="row-cols-gutters">Row columns gutters <a class="anchor" href="#row-cols-gutters">#</a></h2>
<p>
  Gutter classes can also be added to <a href="grid.html">row columns</a>.
</p>
<div class="bd-example">
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col"><div class="p-3 border rounded bg-light">Row column</div></div>
      <div class="col"><div class="p-3 border rounded bg-light">Row column</div></div>
      <div class="col"><div class="p-3 border rounded bg-light">Row column</div></div>
      <div class="col"><div class="p-3 border rounded bg-light">Row column</div></div>
      <div class="col"><div class="p-3 border rounded bg-light">Row column</div></div>
    </div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <div class="col">Row column</div>
  <div class="col">Row column</div>
  <div class="col">Row column</div>
  <div class="col">Row column</div>
  <div class="col">Row column</div>
</div>
  </code></pre>
</div>

<h2 id="no-gutters">No gutters <a class="anchor" href="#no-gutters">#</a></h2>
<p>
  The gutters between columns in our predefined grid classes can be removed with
  <code>.g-0</code>.
</p>
<div class="bd-example">
  <div class="row g-0 text-center">
    <div class="col-sm-6 col-md-8"><div class="p-3 border rounded-start bg-light">.col-sm-6 .col-md-8</div></div>
    <div class="col-6 col-md-4"><div class="p-3 border rounded-end bg-light">.col-6 .col-md-4</div></div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="row g-0">
  <div class="col-sm-6 col-md-8">.col-sm-6 .col-md-8</div>
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div>
  </code></pre>
</div>

<h2 id="changing-gutters-in-a-column">Changing the gutter width in a column <a class="anchor" href="#changing-gutters-in-a-column">#</a></h2>
<p>
  The horizontal and vertical gutters set on the <code>.row</code> use the
  <code>--bs-gutter-x</code> and <code>--bs-gutter-y</code> CSS variables. Override
  them on a column to change its gutters in place:
</p>
<div class="bd-example">
  <div class="row text-center">
    <div class="col-6"><div class="p-3 border rounded bg-light">Default gutters</div></div>
    <div class="col-6" style="--bs-gutter-x: .25rem;"><div class="p-3 border rounded bg-light">Custom gutter (.25rem)</div></div>
  </div>
</div>
<div class="bd-example-snippet">
  <div class="bd-clipboard"><button class="btn-clipboard" type="button">Copy</button></div>
  <pre class="highlight" data-escape><code>
<div class="row">
  <div class="col-6">Default gutters</div>
  <div class="col-6" style="--bs-gutter-x: .25rem;">Custom gutter (.25rem)</div>
</div>
  </code></pre>
</div>
